@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: hsl(216, 12%, 8%);
}
.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.center{
    background-color: hsl(212, 19%, 15%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
}
#ratingContainer,#output{
    position: relative;
    width: 350px;
    padding: 30px;
    font-family: 'Overpass', sans-serif;
}
#ratingContainer img{
    background-color:hsl(216, 12%, 25%);
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#ratingContainer h2{
    margin-bottom: 15px;
}

#ratingContainer p{
    opacity: 0.5;
    margin-bottom: 20px;
}

#ratingForm .flex{
    display: flex;
    justify-content: space-between;
}
.flex > .ratingbtn{
    border: none;
    padding: 15px 18px;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    background-color: hsl(216, 12%, 25%);
    cursor: pointer;
}

.flex > .ratingbtn:hover{
    background-color:hsl(25, 97%, 53%) ;
}

.flex > .ratingbtn.active{
    background-color: hsl(217, 12%, 63%);
}

#submitBtn{
    cursor: pointer;
    margin-top: 25px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    width: 100%;
}

.hidden{
    display: none;
}
#output{
    text-align: center;
}

#output div{
    display: inline-block;
    background-color: hsl(216, 12%, 20%);
    padding: 7px 15px;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
    font-size: 15px;
    margin-top: 20px;
}

#output h2{
    margin: 30px 0 10px;
}

#output p{
    opacity: 0.5;
}
